*{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
}
html{
    font-size: 1px;
}
body{
    width: 100%;
    font-size: 12rem;
    color: #691E06;
}

/* propiedades reutilizadas para las secciones */
.contenedor-general{
    width: 100%;
    height: 100%;
    padding: 8em 4em;
    text-align: center;
}

@media (max-width: 420px) {
    .contenedor-general{
        padding: 4em 2em;
    }
}

@media (max-width: 300px) {
    .contenedor-general{
        padding: 1em 0.5em;
    }
}

/* clase para contenedores que tendran un cambio */
.is-flex{
    display: flex;
}

/* width para las secciones de conocimiento y cita */

.contenedor-85{
    width: 85%;
}

/* propiedad reutilizable para titulos */
.titulo{
    font-size: 40rem;
    font-weight: 800;
}

/* comienzo de estilos de header */

.contenedor-header{
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: #BB4D00 0px 25px 20px -20px;
    background-color: #FBBA72;
    /* agrego z-index para que pueda vizualizarse el box-shadow */
    position: relative;
    z-index: 1;
}

@media (max-width:1100px) {
    .contenedor-header{
        display: none;
    }
}

.nav-header{
    display: flex;
    justify-content: end;
    height: 70rem;
    width: 77%;
}

.nav-lista{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 53%;
    align-items: center;
}

/* buttom y enlace para reutilizar */
.buttom{
    padding: 0.7em 2em;
    background-color: #BB4D00;
    color: white;
    border-radius: 50rem;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 40%;
    font-weight: 600;
}

.enlace{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

/* fin de estilos de header */

/* inicio de estilos de la seccion de presentacion */
.presentacion{
    background-color: #FBBA72;
    justify-content: space-evenly;
}

@media (max-width:1100px) {
    .presentacion{
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:300px) {
    .presentacion{
        align-items: center;
    }
}

.contenido-nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
}

@media (max-width:1100px){
    .contenido-nombre{
        width: 100%;
    }
}

@media (max-width:300px) {
    .contenido-nombre {
        width: 80%;
    }
}

.bienvenida-presentacion{
    font-size: 24rem;
    color: #691E06;
    font-weight: 800;
}

.nombre-presentacion{
    font-size: 48rem;
    color: #BB4D00;
    font-weight: 900;
    margin-bottom: 0.2em;
}

/* clase reutilizable */
.descripcion{
    font-size: 14rem;
    font-weight: 400;
}
/* --------------- */

.buttom-presentacion{
    color:white;
    margin-top: 2em;
}

@media (max-width:428px) {
    .buttom-presentacion{
        max-width: 80%;
    }
}

@media (max-width:262px){
    .buttom-presentacion{
        max-width: 100%;
    }
}


.contenido-imagen{
    display: flex;
    justify-content: center;
    width: 40%;
}

@media (max-width:1100px){
    .contenido-imagen{
        margin-top: 3em;
        width: 100%;
    }
}

.contenedor-img{
    flex-basis: 380rem;
}

@media (max-width:420px) {
    .contenedor-img {
        flex-basis: 300rem;
    }
}

@media (max-width:340px){
    .contenedor-img {
        flex-basis: 250rem;
    }
}

/* clase reutilizable */
img{
    width: 100%;
    height: 100%;
}
/* --------------- */

.img-presentacion{
    border-radius: 50%;
    border-style: double;
    border-width: 7rem;
    border-color: #8F250C;
}
/* fin de estilos de la seccion de presentacion */

/* inicio de estilos de la seccion de conocimientos */

.conocimientos{
    background-color: #fbb05b;
    justify-content: center;
    display: flex;
}

.contenido-conocimientos{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
}

.descripcion-conocimientos{
    width: 30%;
    margin: 1em 0em;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* clases reutilizable */
.item{
    padding: 2em 0em;
    border: 1px solid #BB4D00;
    border-radius: 8rem;
    margin: 1em;
    background-color: white;
}
/* ------------------- */

.icon-conocimientos{
    width: 210rem;
    height: 170rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* estilos de iconos de la seccion de conocimientos (color y tamaño) */
.icon-nombre{
    font-size: 15rem;
    margin-top: 0.5em;
    color: #691E06;
    font-weight: 700;
}
.fa-brands{
    font-size: 65rem;
}
.fa-html5{
    color: #e54d26;
}
.fa-css3-alt{
    color: #3d8fc6;
}
.fa-sass{
    color: #cc6699;
}
.fa-js{
    color: #f0db4f;
}
.fa-react{
    color: #61dafb;
}
.fa-git-alt{
    color: #f34f29;
}

/* fin de estilos de la seccion de conocimientos */

/* inicio de estilos de la seccion de cita */

.cita{
    display: flex;
    justify-content: center;
    background-color: #691E06;
    color: white;
}

.comillas-cita{
    font-size: 80rem;
    font-weight: 900;
    margin-bottom: 1em;
}

.contenido-cita{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-cita{
    font-size: 18rem;
    margin-bottom: 0.5em;
}

@media (max-width:350px) {
    .texto-cita {
        font-size: 15rem;
    }
}

.autor-cita{
    font-size: 20rem;
    font-weight: 800;
    margin-bottom: 1em;
}

/* fin de estilos de la seccion de cita */

/* inicio de estilos de la seccion de proyectos */

.proyectos {
    background-color: #FBBA72;
    display: flex;
    justify-content: center;
}

.contenido-proyectos{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.descripcion-proyectos{
    width: 30%;
    margin: 1.5em 0em;
}

.contenedor-items{
    width: 95%;
    max-width: 1000rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
}

@media (max-width: 1056px) {
    .contenedor-items{
        width: 65%;
    }
}

@media (max-width:1032px) {
    .contenedor-items{
        width: 60%;
        justify-content: center;
    }
}

/* @media (max-width:400px) {
    .contenedor-items{
        width: 100%;
    }
} */

/*
-----recordatorio--------

.item{
    padding: 3em 0em;
    border: 1px solid #BB4D00;
    border-radius: 8rem;
    margin: 1em;
    background-color: white;
}
*/

.item-proyectos{
    width:280rem;
    height: 290rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:310px) {
    .item-proyectos {
        width: 240rem;
        height: 250rem;
    }
}

@media (max-width:280px) {
    .item-proyectos{
        width: 200rem;
        height: 210rem;
    }
}

.contenedor-img-item{
    height: 90%;
}

.nombre-item{
    flex-grow: 1;
    font-size: 14rem;
    font-weight: 600;
}

/* clase reutilizable */
.centrado{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
/* ---------------------- */

/* fin de estilos de la seccion de proyectos */

/* inicio de estilos de la seccion de formulario */

.contacto{
    background-color: #fbb05b;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-contacto{
    background-color: white ;
    border: 1px solid #691E06;
    padding: 4em;
    border-radius: 12rem;
    max-width: 900px;
    justify-content: space-around;
    text-align: start;
    width: 100%;
}

@media (max-width:900px) {
    .contenedor-contacto{
        flex-direction: column;
        border: transparent;
    }
}

@media (max-width:420px) {
    .contenedor-contacto {
        padding: 2em;
        width: 100%;
    }
}

.contenido-contacto{
    width: 40%;
}

@media (max-width:900px) {
    .contenido-contacto{
        width: 100%;
        margin-bottom: 2em;
    }
}

.titulo-contacto{
    font-size: 35rem;
    font-weight: 800;
    margin-bottom: 0.5em;
}

.descripcion-contacto{
    max-width: 400px;
}

.lista-contactame{
    margin-top:1.5em;
}

@media (max-width:900px) {
    .lista-contactame {
        display: flex;
        flex-wrap: wrap;
    }
}

.icon-contacto{
    font-size: 14rem;
    margin-top:1.5em;
}

@media (max-width: 360px) {
    .icon-contacto{
        font-size: 12rem;
    }
}

@media (max-width: 300px){
    .icon-contacto {
        font-size: 10rem;
    }
}

@media (max-width:900px) {
    .icon-contacto{
        width: 50%;
    }
}

@media (max-width:680px) {
    .icon-contacto{
        width: 100%;
    }

    .titulo-contacto{
        font-size: 30rem;
    }

    .titulo{
        font-size: 30rem;
    }

    .descripcion{
        font-size: 13rem;
    }
}

@media (max-width:380px) {
    .titulo-contacto{
        font-size: 23rem;
    }

    .titulo{
        font-size: 23rem;
    }
}

.icon-redes-contacto{
    margin-right: 0.5em;
    font-size: 20rem;
}


ul{
    list-style: none;
}

/* estilos de form */

fieldset{
    border: transparent;
    font-weight: 600;
}

.nombre-apellido-form{
    width: 100%;
    justify-content: space-between;
}

.contenedor-nombre{
    width: 45%;
}

@media (max-width:500px) {
    .nombre-apellido-form{
        flex-direction: column;
    }

    .contenedor-nombre{
        width: 100%;
    }
}

.column{
    display: flex;
    flex-direction: column;
}

textarea, input {
    margin: 0.5em 0em 1em 0em;
    padding: 0.5em;
    width: 100%;
    border-radius: 12rem;
    border: none;
    background-color: #fbb05b;
}

input::placeholder{
    color: #691E06;
    font-weight: 500;
}

textarea::placeholder{
    color: #691E06;
    font-weight: 500;
    font-size: 11rem;
}

.textarea-contacto{
    width: 100%;
    height: 150rem;
}

/* fin de estilos de la seccion de formulario */

/* inicio de estilos del footer */

.pie-de-pag{
    background-color: #691E06;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* navegacion del footer */
.nav-pie{
    display: flex;
}

@media (max-width:700px) {
    @media (max-width: 700px) {
        .nav-pie{
            display: none;
        }
    }
}

.item-pie{
    margin: 0em 1em;
    font-weight: 600;
}
/* -------------------------- */
/* redes sociales del footer */
.redes-footer{
    display: flex;
    margin: 1.5em 0em;
}

.contenedor-icon{
    background-color: white;
    padding: 1em;
    width: 35rem;
    height: 35rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    border-radius: 50%;
    margin: 0em 1em;
}

.icon-redes{
    font-size: 15rem;
    color: #4e1704;
}

.fin-footer{
    font-weight: 600;
}
/* ------------------------ */

/* fin de estilos del footer */