*{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
}
html{
    font-size: 1px;
}
body{
    width: 100%;
    font-size: 12rem;
    color: #691E06;
}

/* propiedades reutilizadas para las seccines */
.contenedor-general{
    width: 100%;
    height: 100%;
    padding: 8em 4em;
}

/* clase para contenedores que tendran un cambio */
.is-flex{
    display: flex;
}

/* bold representa el grosor (negrita) */
.bold-600{
    font-weight: 600;
}
.bold-700{
    font-weight: 700;
}
.bold-800{
    font-weight: 800;
}
.bold-900{
    font-weight: 900;
}

/* width para las secciones de conocimiento y cita */

.contenedor-85{
    width: 85%;
}

/* margenes bottom y top para usar en los elementos */
.margin-bottom{
    margin-bottom: 0.5em;
}
.margin-top{
    margin-top: 2em;
}

/* propiedad reutilizable para titulos */
.titulo{
    font-size: 40rem;
}

/* comienzo de estilos de header y nav */

.contenedor-header{
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: #BB4D00 0px 25px 20px -20px;
    background-color: #FBBA72;
    /* agrego z-index para que pueda vizualizarse el box-shadow */
    position: relative;
    z-index: 1;
}

.nav-header{
    display: flex;
    justify-content: end;
    height: 70rem;
    width: 77%;
}

.nav-lista{
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 53%;
    align-items: center;
}

/* buttom general */
.buttom{
    padding: 0.7em 2em;
    background-color: #BB4D00;
    color: white;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

/* fin de estilos de header y nav */

/* inicio de estilos de la seccion de presentacion */
.presentacion{
    background-color: #FBBA72;
    justify-content: space-evenly;
}

.contenido-nombre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.bienvenida-presentacion{
    font-size: 24rem;
    color: #691E06;
}

.nombre-presentacion{
    font-size: 48rem;
    color: #BB4D00;
}

/* clase reutilizable */
.descripcion{
    font-size: 14rem;
    font-weight: 400;
}
/* --------------- */

.buttom-presentacion{
    width: 38%;
    height: 40rem;
}

.contenido-imagen{
    display: flex;
    justify-content: center;
    width: 40%;
}

.contenedor-img{
    flex-basis: 380rem;
}

/* clase reutilizable */
img{
    width: 100%;
    height: 100%;
}
/* --------------- */

.img-presentacion{
    border-radius: 50%;
    border-style: double;
    border-width: 7rem;
    border-color: #8F250C;
}
/* fin de estilos de la seccion de presentacion */

/* inicio de estilos de la seccion de conocimientos */

.conocimientos{
    background-color: #fbb05b;
    justify-content: center;
    display: flex;
}

.contenido-conocimientos{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1100px;
}

.titulo-conocimientos{
    font-size: 40rem;
}

.descripcion-conocimientos{
    width: 30%;
}

/* clases reutilizables */
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    padding: 3em 0em;
    border: 1px solid #BB4D00;
    border-radius: 8rem;
    margin: 1em;
    background-color: white;
}
/* ------------------- */

.icon-conocimientos{
    width: 210rem;
    height: 170rem;
}

/* estilos de iconos de la seccion de conocimientos (color y tamaño) */
.icon-nombre{
    font-size: 15rem;
    margin-top: 0.5em;
    color: #691E06;
}
.fa-brands{
    font-size: 65rem;
}
.fa-html5{
    color: #e54d26;
}
.fa-css3-alt{
    color: #3d8fc6;
}
.fa-sass{
    color: #cc6699;
}
.fa-js{
    color: #f0db4f;
}
.fa-react{
    color: #61dafb;
}
.fa-git-alt{
    color: #f34f29;
}

/* fin de estilos de la seccion de conocimientos */

/* inicio de estilos de la seccion de cita */

.cita{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #691E06;
    color: white;
}

.titulo-cita{
    font-size: 80rem;
}

.autor-cita{
    font-size: 23rem;
}

/* fin de estilos de la seccion de cita */

/* inicio de estilos de la seccion de proyectos */

.proyectos {
    background-color: #FBBA72;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contenido-proyectos{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.descripcion-proyectos{
    width: 40%;
}

/* 
-----recordatorio--------

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.item{
    padding: 3em 0em;
    border: 1px solid #BB4D00;
    border-radius: 8rem;
    margin: 1em;
    background-color: white;
}
*/

.item-proyectos{
    width:280rem;
    height: 290rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-items{
    width: 95%;
    max-width: 1000rem;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-img-item{
    height: 80%;
}

.nombre-item{
    flex-grow: 1;
    font-size: 14rem;
}

/* clase reutilizable */
.centrado{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
/* ---------------------- */

/* fin de estilos de la seccion de proyectos */

/* inicio de estilos de la seccion de formulario */

.contacto{
    background-color: #fbb05b;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-contacto{
    background-color: white ;
    padding: 4em;
    border-radius: 12rem;
    max-width: 900px;
    justify-content: space-around;
}

.contenido-contacto{
    width: 40%;
}

.titulo-contacto{
    font-size: 35rem;
}

.icon-contacto{
    font-size: 14rem;
}

.icon-redes-contacto{
    margin-right: 0.5em;
    font-size: 20rem;
}

ul{
    list-style: none;
}

/* estilos de form */

fieldset{
    border: transparent;
}

.nombre-apellido-form{
    width: 100%;
    justify-content: space-between;
}

.contenedor-nombre{
    width: 45%;
}

.column{
    display: flex;
    flex-direction: column;
}

textarea, input {
    margin: 0.5em 0em 1em 0em;
    padding: 0.5em;
    width: 100%;
    border-radius: 12rem;
    border: none;
    background-color: #fbb05b;
}

input::placeholder{
    color: #691E06;
    font-weight: 500;
}

textarea::placeholder{
    color: #691E06;
    font-weight: 500;
    font-size: 11rem;
}

.textarea-contacto{
    width: 100%;
    height: 150rem;
}

.buttom-enviar{
    width: 30%;
}

/* fin de estilos de la seccion de formulario */

/* inicio de estilos del footer */

.pie-de-pag{
    background-color: #691E06;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.nav-pie{
    display: flex;
    justify-content: space-around;
}

.item-pie{
    margin: 0em 1em;
}

.redes-footer{
    display: flex;
    justify-content: space-around;
}

.contenedor-icon{
    background-color: white;
    padding: 1em;
    width: 35rem;
    height: 35rem;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    border-radius: 50%;
    margin: 0em 1em;
}

.icon-redes{
    font-size: 15rem;
    color: #4e1704;
}

/* fin de estilos del footer */
