*{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
}
html{
    font-size: 1px;
}
body{
    width: 100%;
    flex-direction: column;
    font-size: 12rem;
}

.is-flex{
    display: flex;
}

.contenedor-header{
    justify-content: center;
    width: 100%;
    box-shadow: #BB4D00 0px 25px 20px -20px;
    background-color: #FBBA72;
    position: relative;
    z-index: 1;
}

.nav-header{
    justify-content: end;
    height: 70rem;
    width: 77%;
}

.nav-lista{
    list-style: none;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 53%;
}

.nav-item{
    align-content: center;
    flex-wrap: wrap;
}
.buttom-contacto{
    padding: 0.7em 2em;
    background-color: #BB4D00;
    color: white;
    border-radius: 50rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.contenedor-principal{
    justify-content: center;
    width: 100%;
    background-color: #FBBA72;
}

.contenedor{
    flex-basis: 900rem;
}

.contenedor-presentacion{
    width: 100%;
    height: 100%;
    justify-content:space-evenly;
    margin: 3em 0em;
}

.nombre-presentacion{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen-presentacion{
    justify-content: center;
}

.contenedor-imagen{
    flex-basis: 400rem;
}

img{
    width: 100%;
    height: 100%;
}

.big-800{
    font-size: 24rem;
    font-weight: 800;
    color: #691E06;
}

.big-900{
    font-weight: 900;
    font-size: 40rem;
    color: #BB4D00;
}

p{
    font-size: 13rem;
    color: #691E06;
}

.buttom-proyectos{
    justify-content: center;
    background-color: #BB4D00;
    width: 30%;
    padding: 1em;
    border-radius: 50rem;
    color: white;
}

.margin-bottom{
    margin-bottom: 0.5em;
}

.margin-top{
    margin-top: 2em;
}



